body {
  font-family: 'Hiragino Mincho Pro', serif ;
}

header {
  background-color: #000000; /* 背景色を黒に設定 */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  width: 100%; 
  height:140px;
  align-items: flex-end;
}

.headerimg {
  top: 0;
  height:140px;
  float:left;
}

nav {
  display: flex;
  justify-content: flex-end;
  /* 高さを指定 */
  height: 130px; /* 例として40pxに設定 */
  align-items: flex-end;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; /* ul自体もflexboxにする場合 */
}

nav li,
nav a {
  margin: 0;
  padding: 5px 10px;
}

nav a {
  text-decoration: none;
  color:blue;
  font-size:20px;
}

nav a:hover {
  background-color:gray;
}

.大見出し {
  font-size:50px;
  text-align: center;
  color:gold;
  text-shadow: 
  -1px -1px 0 #FFD700,
  1px -1px 0 #FFD700,
  -1px 1px 0 #FFD700,
  1px 1px 0 #FFD700;
}

main {
  background-image: url("main背景.png");
}

.謎の空白 {
  height:40px;
  width:100%;
}

.謎の空白2 {
    height:20px;
    width:100%;
  }

.本文 {
    text-align: center;
    color:silver;
    text-shadow: 
    1px -1px 0 silver;
}

footer {
    background-color: #000000;
    text-align: left;
    display: flex; /* flexboxレイアウトを使用 */
    justify-content: space-between; /* 要素を左右に均等に配置 */
    align-items: center;
    color:#f0f0f0;
}

footer a {
    text-decoration: none; /* アンダーラインを消す */
    color: #333; /* 文字色 */
    padding: 10px; /* 余白 */
    background-color: #f0f0f0; /* 背景色 */
    float: right; /* 右にフローティング */
    margin-left: 10px; /* 左マージンで少しスペース */
  }